Repository Hirevo/alexandrie, pull requests merged in 2023-06, with the labels that each got.

#162 Update mod.md
  docs/src/programmatic-api/mod.md
Labels: C-documentation, P-low, M-api

#160 Migrate from `shadow-rs` to `built`
  Cargo.lock
  crates/alexandrie/Cargo.toml
  crates/alexandrie/build.rs
  crates/alexandrie/src/utils/build.rs
Labels: P-low, M-deployment, C-refactor, C-dependencies

#164 Disallow anonymous crate browsing in the frontend
  alexandrie.toml
  crates/alexandrie/src/config/frontend/mod.rs
  crates/alexandrie/src/config/mod.rs
  crates/alexandrie/src/frontend/index.rs
  crates/alexandrie/src/frontend/krate.rs
  crates/alexandrie/src/frontend/last_updated.rs
  crates/alexandrie/src/frontend/most_downloaded.rs
  crates/alexandrie/src/frontend/search.rs
  docker/mysql/alexandrie.toml
  docker/postgres/alexandrie.toml
  docker/sqlite/alexandrie.toml
Labels: C-enhancement, P-medium, M-frontend
